/*VARIABLES*/
$font_text:'Oswald', sans-serif;
$font_title:'Palette Mosaic', cursive;
$font_subtitle:'Roboto Condensed', sans-serif;

$color_accent:#77BA99;
$color_black: #111111;
$color_nav:#242F40;
/*GLOBAL*/
body
{
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: $font_text;
}
*, *::before, *::after 
{
    box-sizing: border-box;
}
section
{
    padding: 96px 0; 
}
.container
{
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}
.bg
{
    background-color: rgb(0, 0, 0);   
}
.btn
{
    display: inline-block;
    min-width: 160px;
    margin: 20px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid $color_accent;
    font-family: $font_subtitle;
    background-color: $color_accent;
    color: whitesmoke;
}
/*NAVIGATION*/
nav 
{
    font-weight: bold;
    padding: 20px 0;
    background-color: transparent;
    font-size: 22px;
}
nav i
{
    font-size: 20px;
    margin: 0;
    color: $color_nav;
}
.navigation ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
.navigation li
{
    display: inline-block;
    position: relative;
    margin-right: 40px;
}
.navigation ul li a 
{
    text-decoration: none;
    padding: 1px;
    color: $color_nav;
}
/*SPLASH*/
.splash
{
    min-height: 650px;
    display: flex;
    padding-top: 10x;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1488806374796-a4071c52353b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
.splash_text
{
    margin-top: 70px;
    padding: 30px 20px;
    text-align: center;
}
.splash_subtitle, .slash_title
{
    margin: 0;
    margin: 25px;
}
.splash_subtitle
{
    font-family: $font_subtitle;
    font-size: 30px;
    line-height: 35px;
}
.slash_title
{
    font-family: $font_title;
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 40px;
}
/*SERVICWS*/
.section_title
{
    text-align: center;
    margin-bottom: 100px;
}
.section_title h4
{
    font-size: 40px;
    line-height: 45px;
    font-family: $font_title;
}
.section_title p
{
    font-size: 25px;
    line-height: 30px;
    font-family: $font_subtitle;
    color: gray;
}
.sevices_box
{
    display: inline-block;
    margin: 0;
    text-align: center;
}
.sevices_box i
{
    font-size: 30px;
    line-height: 30px;
    color: $color_accent;
}
.sevices_box h6
{
    font-size: 18px;
    line-height: 20px;
    font-family: $font_subtitle;
}
.sevices_box p
{
    font-size: 18px;
    line-height: 20px;
    font-family: $font_text;
    color: gray;
}